*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow-x: hidden;
}
.main-widht{
    width: 1400px;
    max-width: 95%;
    margin: 0 auto;
}
.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(#637A9F,20%, #1F2544);
    position: relative;
}
.hero header .logo h2{
    display: block;
    font-size: 32px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}
.hero header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}
nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li a{
    text-decoration: none;
    color: white;
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .4s;
}
nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus{
    border-bottom: 2px solid white;
}
.content{
    padding-top: 60px;
}
.content .main-text{
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}
.content .main-text h1{
    font-size: 70px;
    line-height: 1;
    background-image: linear-gradient(to bottom, #474F7A, #EEF5FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px 0px 45px;
    font-family: 'Aref Ruqaa Ink', serif;
}
.content .main-text h3{
    font-size: 18px;
    font-weight: 600;
    color: white;
}
.content .main-text h2{
    font-size: 35px;
    font-weight: 600;
    color: white;
    font-family: 'Protest Revolution', sans-serif;
}
.content .main-text p{
    max-width: 100%;
    width: 480px;
    color: white;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 50px;
}
.content .main-text a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background: white;
    border: 1px solid white;
    padding: 9px 25px;
    line-height: 1.4;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}
.content .main-text a:hover{
    transform: scale(1.2);
    border: 1px solid #1F2544;
    background: transparent;
    color: white;
    transition: .4s;
}.content .main-text a.cta i{
    margin-right: 12px;
}
.content .social{
    position: relative;
    z-index: 2;
    padding-bottom: 40px;
}
.content .social a{
    display: inline-block;
    color: white;
    margin-right: 25px;
    font-size: 24px;
}
.content .social a:hover{
    transform: scale(1.2);
    transition: .4s;
    color: white;
}
.review{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
}
.isireview img{
    width: 93%;
    height: auto;
    border-radius: 5px;
    padding-bottom: 50px;
}

.reviewtext h5{
    font-size: 22px;
    font-weight: 600;
    color: wheat;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
    font-family: 'Aref Ruqaa Ink', serif;
}
.reviewtext h2{
    font-size: 30px;
    font-weight: 800;   
    line-height: 1.2;
    margin-bottom: 25px;
    background-image: linear-gradient(to bottom, #365486, #3887BE, #7FC7D9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.reviewtext p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: white;
    margin-bottom: 35px;
}
.center-text{
    text-align: center;
}
.center-text h2{
    font-size: 50px;
    font-weight: 800;
    color: wheat;
    font-family: 'Aref Ruqaa Ink', serif;
    letter-spacing: 6px;
}
.review-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.box{
    position: relative;
}
.box img{
    width: auto;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(70%);
    transition: all .3s cubic-bezier(.499,.05,.55,.95);
    will-change: filter;
    display: block;
}.box h4{
    position: relative;
    font-size: 20px;
    font-weight: 700;
    color: wheat;
    top: 20px;
    text-transform: uppercase;
    font-family: 'Aref Ruqaa Ink', serif;
}
.box h6{
    position: relative;
    font-size: 12px;
    font-weight: 500;
    color: white;
    top: 25px;
}
.box img:hover{
    transform: scale(1.09);
    cursor: pointer;
}
.review2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 9rem;
}
.isireview2 img{
    width: 90%;
    height: auto;
    border-radius: 5px;
    padding-top: 50px;

}

.reviewtext2 h5{
    font-size: 22px;
    font-weight: 600;
    color: wheat;
    text-transform: uppercase;
    letter-spacing: 6px;
    margin-bottom: 20px;
}
.reviewtext2 h2{
    font-size: 30px;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 25px;
    background-image: linear-gradient(to bottom, #365486, #3887BE, #7FC7D9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.reviewtext2 p{
    font-size: var(--p-font);
    font-weight: 500;
    line-height: 30px;
    color: white;
    margin-bottom: 35px;
}